[Unit]
Description=Doorbell

[Service]
Type=simple
ExecStart=/usr/local/bin/doorbell
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
